.light {
  --theme-color: #FFF;
  --theme-color-darker: #E9E9E9;
  --theme-text-color: #212121;
  --theme-success-color: #008000;
  --theme-messages-color: #e9e9e9;
  --theme-messages-color-current: #C1E3FF;
  --theme-cta-color: #FEDB40;
}
.dark {
  --theme-color: #1E2A43;
  --theme-color-darker: #19243B;
  --theme-text-color: #FFF;
  --theme-success-color: #008000;
  --theme-messages-color: #3a6386;
  --theme-messages-color-current: #0087fb;
  --theme-cta-color: #FEDB40;
}